body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.fullheight {
    height: 100vh;
}

.logarea {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.next-area {
    padding: 5em;
}

.pulsing {
    animation: pulse 4s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
		opacity: 1;
	}

	50% {
        opacity: 0.5;
    }

	100% {
        opacity: 1;
    }
}