body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Zen Old Mincho', serif;
}


.main-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.main-row {
    display:flex;
    flex-direction: row;
    justify-content: left;
    height: 60%;
    align-items: flex-end;
    overflow: auto;
}

@media only screen and (min-width: 500px) {
    .left-gutter {
        width: 4em;
    }    
}

.padding {
    flex-grow: 1;
}

.logarea {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    max-width: 80em;
    // justify-content: stretch;
    justify-content: end;
    min-height: min-content;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}

.next-area {
    padding: 5em;
}

.pulsing {
    animation: pulse 4s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
		opacity: 1;
	}

	50% {
        opacity: 0.5;
    }

	100% {
        opacity: 1;
    }
}

.inline-button {
    text-decoration: underline;
    cursor: pointer;
}

.inline-disabled-button {
    text-decoration: underline dotted;
    
}

.added-text {
    animation: arrive 0.2s;
    animation-timing-function: ease-in;
}

.clickable-region {
    cursor: pointer;
}

.dialog-line {
    margin-bottom: 1em;
    min-height: fit-content;
}

@keyframes arrive {
    0% {
		opacity: 0.2;
	}

	100% {
        opacity: 1;
    }
}

.final-icon {
    width: 100px;
    height: 100px;

    ion-icon {
        font-size: 100px;
    }
}